<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.ictedu.back.group.dao.TagDao">

	<select id="searchTags" resultType="tagvo">
		SELECT tag_num, tag_name, tag_color FROM tag WHERE LOWER(tag_name) LIKE '%' || LOWER (#{keyword}) || '%'
		ORDER BY tag_name
		FETCH FIRST 10 ROWS ONLY
	</select>
	
</mapper>